
# https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: '08:00'
      timezone: Europe/Helsinki
    open-pull-requests-limit: 2
    labels:
      - actions
      - dependencies

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
      time: '08:00'
      timezone: Europe/Helsinki
    open-pull-requests-limit: 2
    labels:
      - npm
      - dependencies

  - package-ecosystem: gradle
    directory: /
    schedule:
      interval: daily
      time: '08:00'
      timezone: Europe/Helsinki
    open-pull-requests-limit: 2
    labels:
      - gradle
      - dependencies
