{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "modules": false,
            "corejs": 3,
            "loose": false,
            "targets": {
                "browsers": [
                    "> 1.5%",
                    "Opera >= 58",
                    "Safari >= 12",
                    "Edge >= 75",
                    "Firefox ESR",
                    "not dead",
                    "not ie <= 11",
                    "not ie_mob <= 11"
                ],
                "node": 10
            }
        }]
    ],
    "plugins": [
        "add-module-exports",
        ["@babel/plugin-transform-runtime", {
            "corejs": 3,
            "helpers": true,
            "regenerator": true
        }],
        "@babel/plugin-transform-modules-commonjs",
        ["@babel/plugin-proposal-class-properties", {
            "loose": false
        }]
    ]
}
