**/node_modules
**/npm-debug.log
**/test
**/.idea
**/*.iml
**/jest.config.js
node_modules
*.log
**/*.log
**/*.DS_Store
.git
**/build
**/.gradle
**/dist
.DS_Store
**/tests_output
.editorconfig
**/.editorconfig
