language: node_js
node_js:
- '10.15.3'
sudo: true
branches:
  only:
  - master
  - "/^v\\d+\\.\\d+(\\.\\d+)?(-\\S*)?$/"
before_install:
- npm i -g npm@6.9.0
jobs:
  include:
  - stage: tests
    name: lint
    script: npm run eslint
  - name: unit tests
    script: npm run test-unit
  - name: integration tests
    script: npm run test-integration
