<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.streamr.client" level="${env:LOG_LEVEL_JAVA_CLIENT:-warn}"/>
        <Logger name="com.streamr.client_testing" level="${env:LOG_LEVEL_CLIENT_TESTING:-warn}" />
        <Logger name="com.streamr.client_testing.SubscriberJS" level="${env:LOG_LEVEL_SUBSCRIBER_JS:-warn}" />
        <Logger name="com.streamr.client_testing.PublisherThreadJS" level="${env:LOG_LEVEL_PUBLISHER_JS:-warn}" />
        <Root level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
