/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0 0 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.header {
  font-size: 3rem;
}

.paragraph {
  font-size: 1.2rem;
  max-width: 590px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0 0 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
