---
name: Close stale issues and PRs

on:
  schedule:
    - cron: "0 0 * * *"
jobs:
  stale:
    name: Close stale issues and PRs
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-stale: 60
          days-before-close: 7
