name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Test on node 10 and ubuntu-latest

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js 10
        uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: npm ci
        run: npm ci

      - name: eslint
        run: npm run eslint

      - name: test-unit
        run: npm run test-unit

      - name: test-integration
        run: |
          sudo service mysql stop
          git clone https://github.com/streamr-dev/streamr-docker-dev.git
          sudo ifconfig docker0 10.200.10.1/24
          ${GITHUB_WORKSPACE}/streamr-docker-dev/streamr-docker-dev/bin.sh start --wait
          npm run test-integration

  publish-npm:
    name: publish to npm
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v1
        with:
          node-version: 10
          registry-url: https://registry.npmjs.org/

      - run: |
          npm ci
          npm run build
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

