---
name: YAML lint
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    lint:
        name: Lint yaml files
        runs-on: ubuntu-latest
        steps:
            - name: Check out the repo
              uses: actions/checkout@v6
            - name: Run YAML Lint
              uses: ibiqlik/action-yamllint@v3.1.1
              with:
                  file_or_dir: .
                  strict: true
                  no_warnings: false
                  config_file: .yamllint
